
#content {
    max-width: 16000px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:  white;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #023047;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #C3C48D;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: #285943;
}

nav a:hover {
    background-color: greenyellow;
    color: #023047;
    text-decoration: none;
}

.book, .join {
    background-color: yellow;
    color:#023047;
}

.book:hover, .join:hover {
    background-color: greenyellow;
    color:#023047;
}

.msg {
    background-color: #285943;
}

footer {
    background-color: #285943;
    color: white;
}

.home-title {
    color: white;
}

h4 {
    color: #023047;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}